#header {
  display: flex;
  justify-content: center;
}

#headerText {
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
}

.choicesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  text-align: center;
  margin: 5px;
}

img {
  height: 125px;
  width: 100%;
}
.picbox {
  border: 3px solid black;
  border-radius: 5px;
  height: auto;
  width: auto;
}

#description {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
  line-height: 40px;
  text-align: center;
  margin: 8px 0px;
}
.boxAnswer {

  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 3px;
  cursor: grab;
  border: 2px solid black;
}

.answer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 2px;
  font-size: 15px;
  border: 2px solid goldenrod;
  background-color: white;
  color: black;
  margin: 0px 3px;
  background-color: lightcoral
}

.drag-answers {
  border: 2px solid black;
  height: 28px;
  margin: 3px;
  padding: 2px;
  background-color: white;
}

span {
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
}