h1 {
    font-family: cursive;
    font-size: 88px;
    text-align: center;
    border: 3px solid black;
    padding-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border: 3px solid black;
}

.choicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 25px;
}

.box {
    border: 3px solid black;
    background-color: lightblue;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#qbox {
    border: 1px solid black;
}

#hint {
    border: 1px solid black;
}